# PostgreSQL Connection URL
# Replace 'postgres' with your PostgreSQL username and password
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/animoradb

# API Route Prefix
BASE_PATH=/animora-api

# Initial Admin User Credentials
ANIMORA_ADMIN_EMAIL=admin@animora.local
ANIMORA_ADMIN_PASSWORD=Admin@12345

# Frontend Dev Port
PORT=5173
